@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Nunito", sans-serif;
}

  li {
    @apply px-4;
    @apply cursor-pointer;
  }


* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.nav-index {
  z-index: 1000;
}

.hamburger-index {
  z-index: 1000;
}


.laptop {
  position: relative;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  width: 100%;
  margin: auto;
}

.laptop-screen {
  position: absolute;
  top: 0;
  bottom: 10%;
  left: 0;
  right: 0;
  border: 16px solid black;
  border-bottom-width: 22px;
}

.laptop-base {
  position: absolute;
  height: 10%;
  bottom: 0;
  left: 12%;
  right: 12%;
  background: black;
}